= render 'header'


- @blog.each do |blogs|
  - if blogs.user_id == current_user.id
    %hr
    %ins
      %strong
        = blogs.title
    %br
    = blogs.caption
    %br
    %br
    = blogs.description
    %br
    %br
    -if blogs.is_draft
      %button{id: blogs.id} Edit
      %button{id: blogs.id} Live
    -else
      %button{id: blogs.id} Archive